

.tabla {
    height: auto;
    width: 1360;
    background-color: rgb(238, 238, 247);
    padding-top: 100px;
}



.col {
    padding-left: 70px;
    padding-right: 150px;
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.formulario {
    width: auto;
    height: auto;
    background-color: cadetblue;
    margin-top: 100px;
    display: block;
    justify-content: center;
    margin-bottom: 20px;
}

form {
    margin-top: 0px;
    padding-top: 0px;

}

label {
    margin-top: 55px;
    padding-top: 25px;
}

input {
    width: 500px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fin {
    margin-top: 15px;
    height: 25px;
    width: 250px;
    font-size: 1em;
}

.botonconfirm {
    width: 250px;
    height:35px;
    padding-top: 5px;
    margin-top: 25px;
    border-radius: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 1em;
}

.carroVacio {
    margin-bottom: 180px;
}

.inicio {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
}

.inicio:hover {
    font-size: 1.5em;
}