.contenedor {
    width: auto;
    height: auto;
    display: block;
    margin: 50px;
  
}

.Item {
    background-color: rgb(233, 231, 231);
    width: 200px;
    height: 200px;
    margin: 30px -70px -90px 20px;
    display: block;
    padding-top: 10px;
}

.Item:hover {
    box-shadow: rgb(126, 130, 131)5px 5px 5px 2px;
    
}

.Item h2 {
    font-size: 15px;
    padding: 5px;
    margin: 1px;
}

.Item img {
    width: 70px;
    height: 70px;
    padding: 1px;
}

.botn {
    width: 70%;
    background-color: rgb(180, 179, 179);
    margin-bottom: 25px;
}

.botn:hover {
    background-color: rgb(219, 219, 219);
}



.Option {
    margin-left: 45px;
    padding-top: 25px;
}