/* Menu de Navegaciones */

#main-nav {
    display:flex;
    list-style: none;
    margin: auto;
    
}

#main-nav li {
    padding: 12px 0.85em;
    float: left;
    text-decoration: none;
    list-style: none;
    display: none;
}


.Option {
    color: #0f0f0f;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95rem;
    padding-bottom: 12px;
    font-weight: bold;
    margin-right: 45px;
}

.Option:hover {
    border-bottom: 2px solid rgb(59, 215, 226);
}



ul {
    justify-content: center;
}

nav {
    display: inline-block;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

#navigation {
    display: flex;
}

img {
    height: 100px;
    margin-left: 25px;
}

li {
    display: none;
    position: absolute;
    min-height: 140px;

}

#main-nav li:hover > .Option{
    display: inline-flex;
    float: inherit;
    
}

